<h2 class="hidden">Home</h2>
<img src="http://www.secom.pa.gov.br/site/wp-content/themes/tema_do_bpa/images/logo-grande-alt.png" alt="..." class="img-responsive center-block">
<p>Bem-vindo ao aplicativo da Secretaria de Comunicação do Estado do Pará</p>