<h2>Contato</h2>
{{!-- {{g-map lat=-1.4255971 lng=-48.4570884 zoom=12}} --}}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			{{g-maps name="my-map" lat=lat lng=lng zoom=zoom class="img-responsive"}}
		</div>
	</div>
</div>
{{outlet}}